<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>901697458962-p4g6u1v9mrh8ba15l687850du418lfvd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.901697458962-p4g6u1v9mrh8ba15l687850du418lfvd</string>
	<key>API_KEY</key>
	<string>AIzaSyDTTcyeBwAfKZxzvRSxCgT1n4nrE1sSATA</string>
	<key>GCM_SENDER_ID</key>
	<string>901697458962</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dulpyhb.DatawhaleApp.zyx.x</string>
	<key>PROJECT_ID</key>
	<string>datawhale-47d38</string>
	<key>STORAGE_BUCKET</key>
	<string>datawhale-47d38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:901697458962:ios:d4fc92d734ea516fedd9cb</string>
</dict>
</plist>
